.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  display: flex;
  align-items: center;
  position: relative;
  background-color: #f2f2f2;
}

.header__title {
  margin-left: 64px;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 2;
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
}

.logo {
  width: 183px;
  height: 32px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.logo_place_header {
  background-image: url(../images/logo_place_header.svg);
  position: absolute;
  top: 30px;
  left: 64px;
}


.content {
}

.description {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  z-index: 3;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0;
  padding: 0;
}

.two-columns__brief {
  width: 175px;
  margin: 0;
  padding: 0;
  /*Высота строки 1.2, размер шрифта 18px, начертание шрифта
нормальное*/
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 30px 0 0;
  padding: 0;
  /*Высота строки 34px, размер шрифта 24px, начертание шрифта
нормальное*/
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:first-of-type {
  margin-top: 0;
}

.two-columns__span-accent {
  /*Высота строки 34px, размер шрифта 24px, начертание шрифта
полужирное (все, кроме полужирности, наследуется от ".two-columns__paragraph")*/
font-weight: bold;
}

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
}

.section-title:first-of-type {
  margin-bottom: 20px;
}

.section-title {
  width: 60%;
  margin: 0;
  text-align: center;
  /*Высота строки 1.15, шрифта 60px, начертание шрифта полужирное*/
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  width: 60%;
  margin: 0;
  text-align: center;
  /*Высота строки 34px, шрифта 24px, начертание шрифта нормальное*/
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading {
  /*Высота строки 1.15, шрифта 24px, начертание шрифта полужирное*/
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.table__text {
  /*Высота строки 1.2, размер шрифта 18px, начертание шрифта нормальное*/
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 0;
  padding: 0;
}

/*img ширина на высоту 867x637px*/
.feynman {
  position: relative;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-size: 867px 637px;
  background-position: bottom left;
  height: 890px;
  padding-top: 100px;
}

.feynman__title {
  width: 648px;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  /*Высота строки 1.15, размер шрифта 120px, начертание шрифта
полужирное*/
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}

.feynman__subtitle {
  text-align: center;
  margin: 70px auto 0;
  padding: 0;
  /*Высота строки 51px, размер шрифта 36px, начертание шрифта
нормальное*/
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}
.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  color: #2f80ed;
  text-decoration: none;
  /*Высота строки 51px, размер шрифта 36px, начертание шрифта
нормальное*/
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}


.kaufman {
}

.footer {
}
